<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBDWpYg0wIQY37V5i5JhSV0ZJTI5GwIK9w</string>
	<key>GCM_SENDER_ID</key>
	<string>638248896763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.social.downloader.socialDownloader</string>
	<key>PROJECT_ID</key>
	<string>social-downloader-255f2</string>
	<key>STORAGE_BUCKET</key>
	<string>social-downloader-255f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638248896763:ios:358eb8f8e7a097861dc85e</string>
</dict>
</plist>